<h1> Login </h1>
<h4> <%= flash[:notice] %> </h4>

<%= form_tag({:controller => 'students',  :action => 'index'}, {:method => 'get'}) do %>
  username: <input name=name>
  <input type=submit value='login'>
<% end %>

<%= button_to "Student Sign Up", "/students/new", {method: :get} %>


<%= form_tag({:controller => 'instructors',  :action => 'index'}, {:method => 'get'}) do %>
  username: <input name=name>
  <input type=submit value='login'>
<% end %>


<%= button_to "Instructor Sign Up", "/instructors/new", {method: :get} %>

//hi
