<div class="row">
  <div class="col-12">
      <nav>
        <a href="/students">SEE MOUNTAINS</a>
        <a href="/students/<%=session[:student_id]%>">VIEW PROFILE</a>
      </nav>
  </div>
</div>



<div class="card" id="student_profile">
  <div class ="col-4"><h1> Edit Student Profile </h1>
  </div>
</div>
<h4><%= flash[:notice] %></h4>

<% if !!flash[:errors] %>
  <% flash[:errors].each do |message| %>
    <li><%= message %><br>
  <% end %>
<% end %>


<%= form_for @student do |f| %>
<div class="card" id="student_profile">
  <div class ="col-4">
Name: <%= f.text_field :name %>
<br>
Age: <%= f.number_field :age %>
<br>

Level: <%= f.text_field :level %>
<br>
<%= f.submit "Edit Profile!"%>
</div>
</div>
<% end %>
