<h1>Student Sign Up!</h1>
<h4><%= flash[:notice] %></h4>
<% if !!flash[:errors] %>
<% flash[:errors].each do |message| %>
  <li><%= message %>
    <br>
  <% end %>
<% end %>

<%= form_for @student do |f| %>
Name: <%= f.text_field :name %>
<br>
Age: <%= f.number_field :age %>
<br>
Level: <%= f.text_field :level %>
<br>

Username: <%= f.text_field :username %>
<br>
Password: <%= f.text_field :password %>
<br>
<%= f.submit "Sign Up!"%>
<% end %>
