<h1><%= "Hi,  #{@student.name}" %></h1>

Your Information: <br>
Name: <%= @student.name %> <br>
Level: <%= @student.level %><br>
Age: <%= @student.age %><br>
<%= button_to "Browse Mountains", students_path, :method => :get %>
<br>
<% if @student == Student.find_by({id: session[:student_id]})%>
  <%= button_to 'Log Out', logout_path, method: :delete, data: { confirm: 'are u sure lol' } %>
  <%= button_to 'Edit Profile', edit_student_path, method: :get, data: { confirm: 'are you sure you want to edit?' } %>
<%end%>
<br>

<h3> Your Upcoming Bookings </h3>
<% @student.upcoming_bookings.each do |book| %>
---<br>
<%= "Appointment Time: #{book.format_time}" %><br>
<%= "Hours: #{book.duration}" %><br>
---<br>
<%= "Instructor: #{book.mountain_instructor.instructor.name}" %><br>
<%= "Instructor Experience: #{book.mountain_instructor.instructor.experience}" %><br>
<%= "Instructor Rate: $#{book.mountain_instructor.instructor.rate}" %><br>
--<br>
<%= "Mountain: #{book.mountain_instructor.mountain.name}" %><br>
<%= "Mountain Location: #{book.mountain_instructor.mountain.location}" %><br>---<br>
<%= button_to 'Delete', book, method: :delete, data: { confirm: 'are u sure lol' } %><br>
<% end %>
<br>
<h3> Your Previous Bookings </h3>

<% @student.previous_bookings.each do |book| %>
---<br>
<%= "Appointment Time: #{book.format_time}" %><br>
<%= "Hours: #{book.duration}" %><br>
---<br>
<%= "Instructor: #{book.mountain_instructor.instructor.name}" %><br>
<%= "Instructor Experience: #{book.mountain_instructor.instructor.experience}" %><br>
<%= "Instructor Rate: $#{book.mountain_instructor.instructor.rate}" %><br>
--<br>
<%= "Mountain: #{book.mountain_instructor.mountain.name}" %><br>
<%= "Mountain Location: #{book.mountain_instructor.mountain.location}" %><br>---<br><br>
<%= button_to "Review #{book.mountain_instructor.instructor.name}", new_review_path, method: :get, params: {instructor_id: book.mountain_instructor.instructor.id, mountain_id: book.mountain_instructor.mountain.id}, data: { confirm: 'are u sure submit review' } %><br>
<% end %>
