<h1>Instructor Sign Up!</h1>
<h4><%= flash[:notice] %></h4>
<% if !!flash[:errors] %>
  <% flash[:errors].each do |message| %>
    <li><%= message %><br>
  <% end %>
<% end %>

<%= form_for @instructor do |f| %>
  Name: <%= f.text_field :name %>
  <br>
  Experience: <%= f.number_field :experience %>
  <br>
  Rate: <%= f.number_field :rate %>
  <br>
  Upload Image: <%= f.text_field :img %>
  <br>
  <br>
  <%=f.label "Choose Your Mountains!"%><br>
  <%=f.collection_check_boxes(:mountains, Mountain.all, :id, :name, { checked: @instructor.mountain_ids.map(&:to_param) })%>
  <br>
  <%= f.submit "Edit Profile"%>
<% end %>
