<h1>Instructor Sign Up!</h1>
<h4><%= flash[:notice] %></h4>

<%= form_for @instructor do |f| %>
  Name: <%= f.text_field :name %>
  <br>
  Experience: <%= f.number_field :experience %>
  <br>
  Rate: <%= f.number_field :rate %>
  <br>
  Upload Image: <%= f.text_field :img %>
  <br>
  <br>
  <%=f.label "Choose Your Mountains!"%><br>
  <%=f.collection_check_boxes(:mountains, Mountain.all, :id, :name)%>
  <br>
  <%= f.submit "Edit Profile"%>
<% end %>
