<h1>New Review!</h1>
<h4><%= flash[:notice] %></h4>

<% if !!flash[:errors] %>
  <% flash[:errors].each do |message| %>
    <li><%= message %><br>
  <% end %>
<% end %>

<%= form_for @review do |f| %>
  Title: <%= f.text_field :title %>
  <br>
  Description: <%= f.text_area :description %>
  <br>
  Rating: <%= f.number_field :rating %>
  <br>
  <%= f.hidden_field :mountain_id, value: @mountain.id  %>
  <%= f.hidden_field :student_id, value: session[:student_id]%>
  <%= f.hidden_field :instructor_id, value: @instructor.id%>
  <br>
  <%= f.submit "Submit review for #{@instructor.name}!"%>
<% end %>
